<h2><p class="text-center">Event Form</p></h2>
<form class="form-horizontal">
  <div class="form-group">
    <label class="col-xs-3 control-label"><b>Event Name</b></label>
    <div class="col-xs-7">
      <input class="form-control" name="eventname" type="text">
    </div>
  </div>      
  <div class="form-group">         
    <label class="col-xs-3 control-label"><b>Start Date</b></label>
     <div class="col-xs-7">
       <input class="form-control" name="startdate" type="date" id="startdate">
     </div>    
  </div>
  <div class="form-group">
    <label class="col-xs-3 control-label"><b>End Date</b></label>
    <div class="col-xs-7">
      <input class="form-control" name="enddate" type="date">
    </div>
  </div>
  <div class="form-group">
    <label class="col-xs-3 control-label"><b>City</b></label>
    <div class="col-xs-7">
      <input class="form-control" name="city" type="text">
    </div>
  </div>
  <div class="form-group">
    <label class="col-xs-3 control-label"><b>Description</b></label>
    <div class="col-xs-7">
      <textarea class="form-control" name="description" rows="8"></textarea>
    </div>
  </div>
  <div class="form-group">
    <div class="col-xs-offset-3 col-xs-10">
      <button type="submit" class="btn btn-default">Add</button>
    </div>
  </div>
  
</form>


