    <style>
        .register-age{
            width: 10%;
            color: rgb(38, 50, 56);
            font-weight: 700;
            font-size: 14px;
            /*letter-spacing: 0.3px;*/
            background: rgba(136, 126, 126, 0.04);
            padding: 10px;
            border: none;
            border-radius: 20px;
            outline: none;
            box-sizing: border-box;
            border: 2px solid rgba(0, 0, 0, 0.02);
            /*margin-bottom: 50px;*/
            margin-left: 5px;
            margin-right: 5px;
            text-align: left;
            margin-bottom: 10px;
            font-family: 'Ubuntu', sans-serif;
        }
    </style>

    <span class="form-group">
      <select id="Kid-Age" class="register-age">
        <option>Age</option>
        <option>5</option>
        <option>6</option>
        <option>7</option>
        <option>8</option>
        <option>9</option>
        <option>10</option>
        <option>11</option>
        <option>12</option>
        <option>13</option>
        <option>14</option>
        <option>15</option>
      </select>
    </span>