<style>
    .interests{
        width: 30%;
        color: rgb(38, 50, 56);
        font-weight: 700;
        font-size: 14px;
        /*letter-spacing: 0.3px;*/
        background: rgba(136, 126, 126, 0.04);
        padding: 10px;
        border: none;
        border-radius: 20px;
        outline: none;
        box-sizing: border-box;
        border: 2px solid rgba(0, 0, 0, 0.02);
        /*margin-bottom: 50px;*/
        margin-left: 5px;
        margin-right: 5px;
        text-align: left;
        margin-bottom: 10px;
        font-family: 'Ubuntu', sans-serif;
    }

    :root{
      --text: "These activities";
    }
    .multiple_select
    {
      height: 5px;
      width: 20%;
      padding:0;
      color: rgb(38, 50, 56);
        font-weight: 700;
        font-size: 14px;
        /*letter-spacing: 0.3px;*/
        background: rgba(136, 126, 126, 0.04);
        border: none;
        border-radius: 20px;
        outline: none;
        box-sizing: border-box;
        border: 2px solid rgba(0, 0, 0, 0.02);
        /*margin-bottom: 50px;*/
        margin-left: 5px;
        margin-right: 5px;
        text-align: left;
        margin-bottom: 10px;
        font-family: 'Ubuntu', sans-serif;
      overflow: hidden;
      -webkit-appearance: menulist;
      position: relative;
    }
    
    .multiple_select::before
    {
      content: var(--text);
      display: inline;
      margin-left: 5px;
      margin-bottom: 0px;
    }
    .multiple_select_active
    {
      overflow: visible !important;
    }
    .multiple_select option
    {
      display: none;
      background-color: white;
    }
    .multiple_select_active option
    {
      display: block;
    }

    .multiple_select option::before {
      content: "\2610";
    }
    .multiple_select option:checked::before {
      content: "\2611";
    }  
</style>


<span>
  <select id="Kid-Interests" class="multiple_select" multiple="multiple">
    <option value="Soccer">Soccer</option>
    <option value="Hockey">Hockey</option>
    <option value="Dance">Dance</option>
    <option value="Volleyball">Volleyball</option>
    <option value="Drawing">Drawing</option>
    <option value="Reading">Reading</option>
    <option value="Computer Coding">Computer Coding</option>
    <option value="Painting">Painting</option>
    <option value="Music">Music</option>
  </select>
</span>

<script>
  $(".multiple_select").mousedown(function(e) {
    if (e.target.tagName == "OPTION") 
    {
      return; //don't close dropdown if i select option
    }
    $(this).toggleClass('multiple_select_active'); //close dropdown if click inside <select> box
});
$(".multiple_select").on('blur', function(e) {
    $(this).removeClass('multiple_select_active'); //close dropdown if click outside <select>
});
	
$('.multiple_select option').mousedown(function(e) { //no ctrl to select multiple
    e.preventDefault(); 
    $(this).prop('selected', $(this).prop('selected') ? false : true); //set selected options on click
    $(this).parent().change(); //trigger change event
});

	
$("#Kid-Interests").on('change', function() {
/*     var selected = $("#Kid-Interests").val().toString(); //here I get all options and convert to string
      var document_style = document.documentElement.style;
      if(selected !== "")
        document_style.setProperty('--text', "'"+selected+"' ");
      else
        document_style.setProperty('--text', "'Hobbies'");
*/	});
</script>