
    <header>
        <nav class="navbar navbar-inverse" id="menuNav"> 
          <div class="container-fluid">
              <a href="/index"><div id="logoDiv"></div></a>
            <div class="navbar-header">
              <a class="navbar-brand"></a>
            </div>
            <ul class="nav navbar-nav navbar-right align-items-end" >
              <li id="menuItems"><a href="/event"><img src="/src/menu-pointer.png" class="icon" alt="event"></a></li>
              <li id="menuItems"><a href="/vendor/{{vendor_id}}" ><img src="/src/menu-management.png" class="icon" alt="vendor"></a></li>
              <li id="menuItems"><a href="/logout" ><img src="/src/menu-logout.png" class="icon" alt="logout"></a></li>
            </ul>

          </div>
        </nav>
        
    </header>

    

