
    <header>
        <nav class="navbar navbar-inverse" id="menuNav"> 
          <div class="container-fluid">
              <div id="logoDiv"></div>
            <div class="navbar-header">
              <a class="navbar-brand"></a>
            </div>
            <ul class="nav navbar-nav navbar-right align-items-end" >
              <li class="align-bottom" id="menuItems"><a href="/">Login</a></li>
              <li id="menuItems"><a href="/home">Home</a></li>
              <li id="menuItems"><a href="/event">Event</a></li>
              <li id="menuItems"><a href="/profile" >Profile</a></li>
              <li id="menuItems"><a href="/logout" >Logout</a></li>
            </ul>

          </div>
        </nav>
        
    </header>

    

