.add_btn{
    background: linear-gradient(to right, #9C27B0, #E040FB);
    margin-bottom: 20px;
    font-size: 25px;
    border-color: #E040FB;
    text-align: center;
    display: inline-block;
    width: 150px;
}

.form_text{
    font-size: 20px;
    font-weight: bold;
    color: #623a78;
}

.btn_container{
    width: 100%;
    text-align: center;
    display: block;
    margin:30px auto;
}

.btns > a + a {
    margin-left: 50px;
}

a.disabled {
    pointer-events: none;
    cursor: default;
    background-color: lightgrey;
    border-color: lightgrey;
}

.bg {
    position: absolute;
    top: 0px;
    width: 100%;
    opacity: 1;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 100%;
    background-image: url("https://static.wixstatic.com/media/11062b_d1a646e8c3d54d97bc4f11fea4de5f78f000.jpg/v1/fill/w_1920,h_1080,al_c,q_85/11062b_d1a646e8c3d54d97bc4f11fea4de5f78f000.webp");
    z-index: -100;
}

.pic_container{
    width: 100%;
    line-height: 220px;
}