#map {
	height: 50vh;
}

#content {
	height: 40vh;
	width: 40vw;
}
/* Customize the label (the container) */

.container1 {
	display: block;
	position: relative;
	padding-left: 35px;
	margin-bottom: 12px;
	cursor: pointer;
	font-size: 22px;
	/* padding: 0 16px;
        max-width: 550px;
        margin: 50px auto;
        font-size: 18px;
        font-weight: 600;
        line-height: 36px; */
}
/* Hide the browser's default radio button */

.invis {
	display: none;
}

#swal2-content {
	font-size: large;
}

label {
	padding: 12px 30px;
	width: 100%;
	display: block;
	text-align: left;
	color: #3c454c;
	cursor: pointer;
	position: relative;
	z-index: 2;
	transition: color 200ms ease-in;
	overflow: hidden;
}

label:before {
	width: 32px;
	height: 32px;
	border-radius: 50%;
	content: '';
	background-color: #5562eb;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%) scale3d(1, 1, 1);
	transition: all 300ms cubic-bezier(0.4, 0.0, 0.2, 1);
	opacity: 0;
	z-index: -1;
}

label:after {
	width: 32px;
	height: 32px;
	content: '';
	border: 2px solid #d1d7dc;
	background-color: #d1d7dc;
	background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.414 11L4 12.414l5.414 5.414L20.828 6.414 19.414 5l-10 10z' fill='%23fff' fill-rule='nonzero'/%3E%3C/svg%3E ");
	background-repeat: no-repeat;
	background-position: 2px 3px;
	border-radius: 50%;
	z-index: 2;
	position: absolute;
	right: 30px;
	top: 50%;
	transform: translateY(-50%);
	cursor: pointer;
	transition: all 200ms ease-in;
}

.inputGroup {
	background-color: #fff;
	display: block;
	margin: 10px 0;
	position: relative;
}

input:checked ~ label {
	color: #fff;
}

input:checked ~ label:before {
	transform: translate(-50%, -50%) scale3d(56, 56, 1);
	opacity: 1;
}

input:checked ~ label:after {
	background-color: #54e0c7;
	border-color: #54e0c7;
}

.tableholder {
    overflow:hidden;
    overflow-y: auto;
    position: relative;
    top: 2em;
    border: 2px solid;
    border-color: #d1cfcf;
    box-shadow: 3px 3px 0 #d1cfcf;
    height: 50vh;
}

hr {
	display: block;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	margin-left: auto;
	margin-right: auto;
	border-style: inset;
	border-width: 1px;
  }