.ad {
    border-radius: 5em;
    border-style: solid;
    color: #fff;
    /* background: linear-gradient(to right, #9C27B0, #E040FB); */
    border-color: black;
    background-color: #FFE4C4;
    /* width: 90%; */
    height: 150px;
    width: 60%;
    padding-left: 130px;
    padding-right: 40px;
    padding-bottom: 10px;
    padding-top: 30px;
    font-family: 'Ubuntu', sans-serif;
    margin-left: 5%;
    font-size: 13px;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
    color: black;
}

.blog {
    border-radius: 5em;
    border-style: solid;
    color: #fff;
    /* background: linear-gradient(to right, #9C27B0, #E040FB); */
    border-color: black;
    background-color: #FFE4C4;
    /* width: 90%; */
    height: 110px;
    width: 80%;
    padding-left: 250px;
    padding-bottom: 20px;
    padding-top: 30px;
    font-family: 'Ubuntu', sans-serif;
    margin-left: 5%;
    font-size: 13px;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
    color: black;
}

.play {
    position: relative;
    left: 34%;
    font-size: 20px;
    display: inline-block;
    padding-top: 2%;
    ;
    z-index: 1;
    top: 20%;
}

.search {
    position: relative;
    display: inline-block;
}

.profile {
    position: relative;
    display: inline-block;
    /* padding-left: 7%; */
}

.playText {
    font-size: 56px;
    padding-top: 5%;
    font-family: Impact, Charcoal, sans-serif;
    color: black;
    padding-left: 35%;
}

.addContainer {
    position: relative;
    padding-top: 5%;
    padding-left: 23%;
}

.blogContainer {
    position: relative;
    padding-top: 5%;
    padding-left: 10%;
    padding-bottom: 3%;
}

.homeContainer {
    background-color: #fff;
    border-radius: 5em;
    border-style: solid;
    height: 60%;
    width: 70%;
    left: 20%;
    position: relative;
    margin-top: auto;
}

body {
    background-color: rgba(173, 172, 181, 0.8);
    z-index: -1;
}

.terms {
    position: relative;
    margin-left: 38%;
    font-size: 18px;
    margin-bottom: 5%;
}

.container {
    padding-top: 6%;
}


/* .container {
    padding-top: 40px;
    vertical-align: bottom;
    position: relative;
    right: 30px;
} */

.permission-btn {
    position: relative;
    width: 220px;
    left: 35%;
    text-align: center;
    background-color: #FFE4C4;
    text-decoration: none;
    line-height: 27px;
    font-family: 'Oswald', Helvetica;
    display: block;
    margin: 10px;
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 17px;
    margin:auto;
    margin-left: 10px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 13px;
    width: 13px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(13px);
    -ms-transform: translateX(13px);
    transform: translateX(13px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

  .notification-container {
      display: flex;
  }

  .notification-text {
    font-size: 115%; 
    margin: auto;
    margin-right: 10px;
  }