body {
    background-color: white;
    font-family: arial;
    font-size: 12pt;
}

#bg {
    position: absolute;
    top: 0px;
    width: 100%;
    opacity: 1;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 100%;
    background-image: url("https://static.wixstatic.com/media/11062b_d1a646e8c3d54d97bc4f11fea4de5f78f000.jpg/v1/fill/w_1920,h_1080,al_c,q_85/11062b_d1a646e8c3d54d97bc4f11fea4de5f78f000.webp");
    z-index: -100;
}

.main {
    background-color: #FFFFFF;
    width: 400px;
    height: 400px;
    border-radius: 1.5em;
    box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.sign {
    padding-top: 40px;
    color: #8C55AA;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    font-size: 23px;
}

.un {
    width: 76%;
    color: rgb(38, 50, 56);
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 1px;
    background: rgba(136, 126, 126, 0.04);
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    outline: none;
    box-sizing: border-box;
    border: 2px solid rgba(0, 0, 0, 0.02);
    margin-bottom: 50px;
    margin-left: 46px;
    text-align: center;
    margin-bottom: 27px;
    font-family: 'Ubuntu', sans-serif;
}

form.form1 {
    padding-top: 40px;
}

.pass {
    width: 76%;
    color: rgb(38, 50, 56);
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 1px;
    background: rgba(136, 126, 126, 0.04);
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    outline: none;
    box-sizing: border-box;
    border: 2px solid rgba(0, 0, 0, 0.02);
    margin-bottom: 50px;
    margin-left: 46px;
    text-align: center;
    margin-bottom: 27px;
    font-family: 'Ubuntu', sans-serif;
}


.un:focus, .pass:focus {
    border: 2px solid rgba(0, 0, 0, 0.18) !important;

}

.submit {
    cursor: pointer;
    border-radius: 5em;
    color: #fff;
    background: linear-gradient(to right, #9C27B0, #E040FB);
    border: 0;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 10px;
    padding-top: 10px;
    font-family: 'Ubuntu', sans-serif;
    margin-left: 12%;
    font-size: 13px;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
}

.submit1 {
    cursor: pointer;
    border-radius: 5em;
    color: #fff;
    background: linear-gradient(to right, #9C27B0, #E040FB);
    border: 0;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 10px;
    padding-top: 10px;
    font-family: 'Ubuntu', sans-serif;
    margin-left: 12px;
    font-size: 13px;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
}

.forgot {
    text-shadow: 0px 0px 3px rgba(117, 117, 117, 0.12);
    color: #E1BEE7;
    padding-top: 15px;
}

.forgot a {
    text-shadow: 0px 0px 3px rgba(117, 117, 117, 0.12);
    color: #E1BEE7;
    text-decoration: none
}

@media (max-width: 600px) {
    .main {
        border-radius: 0px;
    }
}

.invisible {
	display: none;
	visibility: hidden;
}

.interests{
	width: 30%;
/*        color: rgb(38, 50, 56);
	font-weight: 700;
	font-size: 14px;
	/*letter-spacing: 0.3px;*/
/*        background: rgba(136, 126, 126, 0.04);
	padding: 10px;
	border: none;
	border-radius: 20px;
	outline: none;
	box-sizing: border-box;
	border: 2px solid rgba(0, 0, 0, 0.02);
	/*margin-bottom: 50px;*/
/*        margin-left: 5px;
	margin-right: 5px;
	text-align: left;
	margin-bottom: 10px;
	font-family: 'Ubuntu', sans-serif;
*/    }
/*      padding:0;
  color: rgb(38, 50, 56);
  font-weight: 700;
  font-size: 14px;
  
  background: rgba(136, 126, 126, 0.04);
  border: none;
  border-radius: 20px;
  outline: none;
  box-sizing: border-box;
  border: 2px solid rgba(0, 0, 0, 0.02);
  margin-left: 5px;
  margin-right: 5px;
  text-align: left;
  margin-bottom: 10px;
  font-family: 'Ubuntu', sans-serif;
  
  
*/  
:root{
  --text: "These activities";
}
.multiple_select
{
  height: 5px;
  width: 20%;
  overflow: hidden;
  -webkit-appearance: menulist;
  position: relative;
}

.multiple_select::before
{
  content: var(--text);
  display: inline;
  margin-left: 5px;
}
.multiple_select_active
{
  overflow: visible !important;
  z-index: 5;
}
.multiple_select option
{
  display: none;
  height: 5px;
  background-color: white;
}
.multiple_select_active option
{
  display: block;
}

.multiple_select option::before {
  content: "\2610";
}
.multiple_select option:checked::before {
  content: "\2611";
}  