
/* Modal Page --- hides page by default*/
.page {
    display: none;
}

.i-logo {
    display: flex;
    flex-direction: row;
    /*justify-content: center;*/
    /*align-items: center;*/
    margin-top: 5%;
}

.i-logo>div {
    display: flex;
    width: 250px;
    height: 250px;
    margin: 10px;
    /*border: black solid 2px;*/
    justify-content: center;
}


.i-logo>img {
    display: flex;
    width: 400px;
    height: 400px;
    margin: 10px;
}

.sign_t {
    padding-top: 40px;
    color: #8C55AA;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    font-size: 23px;
}

button.submit1 {
    cursor: pointer;
    border-radius: 5em;
    color: #fff;
    background: linear-gradient(to right, #9C27B0, #E040FB);
    border: 0;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 10px;
    padding-top: 10px;
    font-family: 'Ubuntu', sans-serif;
    margin-left: 12px;
    font-size: 13px;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
}

.register{
    width: 90%;
    color: rgb(38, 50, 56);
    font-weight: 700;
    font-size: 14px;
    background: rgba(136, 126, 126, 0.04);
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    outline: none;
    box-sizing: border-box;
    border: 2px solid rgba(0, 0, 0, 0.02);
    margin-left: 20px;
    text-align: left;
    margin-bottom: 10px;
    font-family: 'Ubuntu', sans-serif;
}

.register-kid{
    width: 13%;
    color: rgb(38, 50, 56);
    font-weight: 700;
    font-size: 14px;
    /*letter-spacing: 0.3px;*/
    background: rgba(136, 126, 126, 0.04);
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    outline: none;
    box-sizing: border-box;
    border: 2px solid rgba(0, 0, 0, 0.02);
    /*margin-bottom: 50px;*/
    margin-left: 5px;
    margin-right: 5px;
    text-align: left;
    margin-bottom: 10px;
    font-family: 'Ubuntu', sans-serif;
}

.guardian{
    width: 20%;
    color: rgb(38, 50, 56);
    font-weight: 700;
    font-size: 14px;
    /*letter-spacing: 0.3px;*/
    background: rgba(136, 126, 126, 0.04);
    padding: 10px;
    border: none;
    border-radius: 20px;
    outline: none;
    box-sizing: border-box;
    border: 2px solid rgba(0, 0, 0, 0.02);
    /*margin-bottom: 50px;*/
    margin-left: 5px;
    margin-right: 5px;
    text-align: left;
    margin-bottom: 10px;
    font-family: 'Ubuntu', sans-serif;
}

.register:focus {
    border: 2px solid rgba(0, 0, 0, 0.18) !important;

}