<!DOCTYPE html>
<html>
<head>
<title>Add Events</title>
<link href="/css/menu.css" type="text/css" rel="stylesheet" />
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
</head>

<body>
{{> menu}}
<div class="w3-card-4">
  <div class="w3-container w3-brown">
    <h2>Events Form</h2>
  </div>
  <form class="w3-container" >
    <p>      
    <label class="w3-text-brown"><b>Event Name</b></label>
    <input class="w3-input w3-border w3-sand" name="eventtime" type="text"></p>
    <p>         
    <label class="w3-text-brown"><b>Start time</b></label>
    <input class="w3-input w3-border w3-sand" name="starttime" type="datetime-local"></p>
    <p>
    <label class="w3-text-brown"><b>End time</b></label>
    <input class="w3-input w3-border w3-sand" name="endtime" type="datetime-local"></p>
    <p>
    <label class="w3-text-brown"><b>Location</b></label>
    <input class="w3-input w3-border w3-sand" name="location" type="text"></p>
    <p>
    <label class="w3-text-brown"><b>Description</b></label>
    <textarea class="w3-input w3-border w3-sand" name="descrition" rows="8"></textarea>
    <p>
    <button class="w3-btn w3-brown">Register</button></p>
  </form>
</div>

</body>
</html> 
