<!DOCTYPE html>
<html>
    <head>
        
        {{> bootstrap}}
        <link href="/css/menu.css" type="text/css" rel="stylesheet" />
        <link href="/css/admin.css" type="text/css" rel="stylesheet" />


    </head>

    <body>

        {{> menu}}

        <div class="col-md-12">
            <p class="form_text">Welcome Admin! </p>
            <div class = "btn_container btns">
                <a href="#" class="btn btn-info btn-lg add_btn">Users</a>
                <a href="/admin/event" class="btn btn-info btn-lg add_btn">Events</a>
                <a href="#" class="btn btn-info btn-lg add_btn">Notification</a>
            </div>

        </div>

    </body>

</html>

