<!DOCTYPE html>
<html>
    <head>
         <!-- Bootstrap CSS -->
                {{> bootstrap}}
        <!--<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>-->
        
        <link href="/css/menu.css" type="text/css" rel="stylesheet" />

    </head>

    <body>
        {{> menu}}
        <div>
            Editor Page
        </div>
    </body>

</html>
   