<!DOCTYPE html>
<html>
    <head>
        {{> bootstrap}}     
        <link href="/css/menu.css" type="text/css" rel="stylesheet" />
        <link href="/css/login.css" type="text/css" rel="stylesheet" />
        <link href="/css/home.css" type="text/css" rel="stylesheet" />

    </head>

    <body>
        <div>{{> menu}}</div>

        <div class="container" style="text-align: center;">
            <h1><b>Home</b></h1>
            <p></p>
        </div>
        
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="ad">Advertisement</div>
                </div>
                <div class="col-md-6">
                    <div class="ad">Blog Entries</div>
                </div>
            </div>
        </div>
    </body>

</html>