<!DOCTYPE html>
<html lang="en">

<head>
  {{>google_analytics}}

  <title>Things My Kids Do</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="landing.css">

  <style>
    body,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      font-family: "Lato", sans-serif
    }

    .w3-bar,
    h1,
    button {
      font-family: "Montserrat", sans-serif
    }

    .fa-anchor,
    .fa-coffee {
      font-size: 200px
    }
  </style>
</head>


<body style="width: 100vw">

  <!-- Navbar -->


  <!-- Header -->
  <header class="w3-container w3-blue w3-center"
    style="padding:128px 16px; background-color: #f907fc; background-image: linear-gradient(315deg, #f907fc 0%, #05d6d9 74%);">
    <img src="css/src/logo.jpg" class="logo"
      style="position: absolute; left: 30px; top: 30px; height: 75px; width: 90px;">
    <h1 class="w3-margin w3-jumbo"
      style="font-size: 100px !important; font-family: Arial Narrow,Arial,sans-serif !important;  ">
      Love YOUR Free
      Time</h1>
    <h3 style="font-size: 40px;">Get notified about local kids activities &amp events</h3>

    <button class="w3-button w3-black w3-padding-large w3-large w3-margin-top"
      style="background-color: #f907fc !important; border-radius: 20px;"><a href="/login"
        style="text-decoration: none;">It's Free</a></button>
  </header>

  <!-- First Grid -->
  <div class="w3-row-padding w3-padding-64 w3-container">
    <div class="w3-content">
      <div class="w3-twothird">
        <h1 style="color: gray !important; font-size: 52px;">MORE FREE TIME <br /> FOR EVERYONE</h1>
        <h5 class="w3-padding-32" style="font-size: 32px; color: #B0B0B0">Things My Kids Do is a FREE <br /> place for
          parents
          and caregivers
          <br /> to get up
          to date information about local kids activities, amenities and events. <br /> We make it easier to plan
          their free time so you have a little more time for you.
        </h5>
        <p style="color:#05d6d9; font-size: 22px;"><strong>HOW IT WORKS</strong></p>
      </div>



      <div class="w3-third w3-center">
        <div style="width: 80vw;">
          <img src="css/src/feature1.jpg" style="position:relative; float:left" />
        </div>

      </div>
    </div>
  </div>

  <!-- Second Grid -->
  <div class="w3-row-padding w3-light-grey w3-padding-64 w3-container">
    <div class="w3-content">
      <div class="w3-third w3-center">
        <img src="css/src/businessEvent.jpg" style="position: relative; float: right;" />
      </div>

      <div class="w3-twothird" style="padding-left: 10%;">
        <h1 style="color: gray !important; font-size: 52px;">PLAYING SHOULDN'T <br /> BE PAINFUL</h1>
        <h5 class="w3-padding-32" style="font-size: 32px; color: #B0B0B0">Parents are busy, trying to do it all<br />
          and be everything for everyone and <br />we are exhausted! When it comes to <br />
          planning kids activities, it's hard to <br />
          know where to look for information, keep
          track of what's going on and know <br />
          that you aren't missing out. At Things<br />
          My Kids Do you can go to one <br />
          place to hear about everything</h5>
        <p style="color:#ff22da; font-size: 22px;"><strong>TRY IT!</strong></p>

      </div>
    </div>
  </div>

  <div class="w3-container w3-white w3-center w3-padding-64">
    <h1 class="w3-margin w3-xlarge" style="color: gray !important; font-size: 52px !important;">NEW WAYS TO PLAY</h1>
    <div id="ways_to_play" style="padding-top: 5%;">
      <div id="ways_1" style="position: relative; display: inline-block;">
        <img src="css/src/ways1.jpg" width=200px height=auto>
        <p style="font-size: 26px; color: #B0B0B0">Explore the Kids Map to <br /> see what's going on <br />and where
        </p>
      </div>
      <div id="ways_2" style="position: relative; display: inline-block; padding-left: 5%;">
        <img src="css/src/ways2.jpg" width=200px height=auto>
        <p style="font-size: 26px; color: #B0B0B0">Get notified about <br /> upcoming kids activites <br /> and special
          events</p>
      </div>
      <div id="ways_3" style="position: relative; display: inline-block; padding-left: 5%;">
        <img src="css/src/ways3.jpg" width=200px height=auto>
        <p style="font-size: 26px; color: #B0B0B0">Stay organized by saving <br /> your kids faves to a <br /> custom
          playlist</p>
      </div>
    </div>
  </div>


  <div class="w3-container w3-light-gray w3-center w3-padding-64">
    <img src="css/src/youtube_icon.jpg" />
  </div>


  <div class="w3-row-padding w3-padding-64 w3-container">
    <div class="w3-content">
      <div class="w3-twothird">
        <h5 class="w3-padding-32" style="font-size: 32px; color: #B0B0B0">"I didn't realize there were so many <br />
          amazing activities going on in my area. <br /> It's so easy to find stuff to do on the Kid's Map <br />
          and add them to their playlists. <br /> I love it!"
        </h5>
        <p style="color:#a8a8a8; font-size: 16px;"><strong>HAPPY DAD</strong></p>
      </div>



      <div class="w3-third w3-center">
        <div style="width: 80vw;">
          <img src="css/src/dad_with_kids.jpg" style="position:relative; float:left" />
        </div>

      </div>
    </div>
  </div>

  <!-- Footer -->
  <footer class="w3-container w3-padding-64 w3-center w3-opacity">
    <div class="w3-xlarge w3-padding-32">
      <i class="fa fa-facebook-official w3-hover-opacity"></i>
      <i class="fa fa-instagram w3-hover-opacity"></i>
      <i class="fa fa-snapchat w3-hover-opacity"></i>
      <i class="fa fa-pinterest-p w3-hover-opacity"></i>
      <i class="fa fa-twitter w3-hover-opacity"></i>
      <i class="fa fa-linkedin w3-hover-opacity"></i>
    </div>
    <p>Powered by Dream Tech Designs</a></p>
  </footer>


</body>

</html>