<!DOCTYPE html>
<html>

<head>
    <!-- Bootstrap CSS -->
    {{> bootstrap}}

    <link href="/css/menu.css" type="text/css" rel="stylesheet" />
    <link href="/css/login.css" type="text/css" rel="stylesheet" />
    <link href="/css/register.css" type="text/css" rel="stylesheet" />

</head>

<body>
    <div id="bg">
        <nav class="navbar navbar-inverse" id="menuNav">
            <div class="container-fluid">
                <a href="/index"><div id="logoDiv"></div></a>
                <div class="navbar-header">
                    <a class="navbar-brand"></a>
                </div>

            </div>
        </nav>
    </div>


    <div class="main">
        <p class="sign" align="center">Sign in</p>
        <form class="form1" action="/login-form" method="post">
            <input id="username" name="email" class="un " type="email" align="center" placeholder="Email">
            <input id="password" name="password" class="pass" type="password" align="center" placeholder="Password">
            <!--               <a class="submit" align="center" href="/register">Register</a>-->
            <button type="button" class="submit" align="center" data-toggle="modal"
                data-target="#Register">Register</button>
            <button class="submit" align="center">Sign in</button>
            <p class="forgot" align="center"><a href="#">Forgot Password?</a></p>
        </form>
    </div>

    <div>
        <form id="">
            <div class="modal fade" id="Register" data-keyboard="false" data-backdrop="static" tabindex="-1"
                role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Register</h4>
                        </div>
                        <div class="modal-body">
                            <div class="tab">
                                <p>Register as a ...</p>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="submit1" align="center" data-toggle="modal" id="Family"
                                value='parent'>Parent</button>
                            <button type="button" class="submit1" align="center" data-toggle="modal" id="Vendor"
                                value='vendor'>Vendor</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="Parent1" data-keyboard="false" data-backdrop="static" tabindex="-1"
                role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close P-clear" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Create Account</h4>
                        </div>
                        <div class="modal-body">
                            <div class="tab">
                                <p><input class="register" placeholder="Email address" name="email" id='p_email'></p>
                                <p><input class="register" placeholder="Password" name="pw" id='p_password'></p>
                                <p><input class="register" placeholder="Comfirm Password"  name="confirm_pw" id='p_confirm_pw'></p>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="submit1" id="P-Account">Continue</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="Parent2" data-keyboard="false" data-backdrop="static" tabindex="-1"
                role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close P-clear" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Create Account</h4>
                        </div>
                        <div class="modal-body">
                            <div class="tab">
                                <p>Hi, Tell us about you so we can keep you on the know about children's activities in
                                    your area.</p>
                                <p>"I'm an awesome
                                    <span>
                                        <form>
                                            <select class="guardian" id="Guardian">
                                                <option value=""> </option>
                                                <option value="Mom">Mom</option>
                                                <option value="Dad">Dad</option>
                                                <option value="Relative">Relative</option>
                                                <option value="Caretaker">Caretaker</option>
                                            </select>
                                        </form>
                                    </span>."
                                </p>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="submit1" id="P-Redo-Account">Back</button>
                            <button type="button" class="submit1" id="P-User">Continue</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="Parent3" data-keyboard="false" data-backdrop="static" tabindex="-1"
                role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close P-clear" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Children Profiles (optional)</h4>
                            <p>If you wish to create your children's profiles after you have created your account, you
                                can skip this step.</p>
                            <button type="button" class="submit1" id="P-Skip">Skip</button>
                        </div>
                        <div class="modal-body container" style="max-height: calc(100vh - 200px); overflow-y: auto;">
                            <div class="tab" id="morekids">
                                {{!-- {{>KidRegister}} --}}
<!--                                <p>click the "Create Kid profile" button to create a profile for your child.</p>
                                        <p>you can create a maximum of 5 profiles during registration.</p>
-->                                <div class="allInputs1">

                                    <div class="Add_Kids1">
                                        <button id="S_kid1" class="add_profile submit1" onclick="show_kid1()" style="display:block;">Add kid profile</button>
                                        <p class = "R_Kid_Profile" id="Kid1" style="display: none;">Mykid1
                                            <input class="register-kid-name" placeholder="Nickname" id="kidname1"
                                                name="nickname1">
                                            is a
                                            <span class="form-group">
                                                <select id="gender1" class="register-kid-gender">
                                                    <option>Boy</option>
                                                    <option>Girl</option>
                                                </select>
                                            </span>
                                            who is interested in
                                            <span>
                                                <select id="Kid-Interests" class="multiple_select" multiple="multiple">
                                                {{#each data}}
                                                    <option class="kidtag">{{name}}</option>
                                                {{/each}}
                                                </select>
                                            </span>
                                        </p>
                                        <br>
<!--                                        <button type="button" class="submit1" id="add">Create Kid Profile</button>                                    
-->                                     <button id="S_kid2" class="add_profile submit1" onclick="show_kid2()" style="display:block;">Add kid profile</button>
                                        <p class = "R_Kid_Profile" id="Kid2" style="display: none;"> Mykid2
                                            <input class="register-kid-name" placeholder="Nickname" id="kidname2"
                                                name="nickname2">
                                            is a
                                            <span class="form-group">
                                                <select id="gender2" class="register-kid-gender">
                                                    <option>Boy</option>
                                                    <option>Girl</option>
                                                </select>
                                            </span>
                                            who is interested in
                                            <span>
                                                <select id="Kid-Interests" class="multiple_select" multiple="multiple">
                                                {{#each data}}
                                                    <option>{{name}}</option>
                                                {{/each}}
                                                </select>
                                            </span>
                                        </p>                                    
                                        <br>

                                        <button id="S_kid3" class="add_profile submit1" onclick="show_kid3()" style="display:block;">Add kid profile</button>
                                        <p class = "R_Kid_Profile" id="Kid3" style="display: none;">Mykid3
                                            <input class="register-kid-name" placeholder="Nickname" id="kidname3"
                                                name="nickname3">
                                            is a
                                            <span class="form-group">
                                                <select id="gender3" class="register-kid-gender">
                                                    <option>Boy</option>
                                                    <option>Girl</option>
                                                </select>
                                            </span>
                                            who is interested in
                                            <span>
                                                <select id="Kid-Interests" class="multiple_select" multiple="multiple">
                                                {{#each data}}
                                                    <option>{{name}}</option>
                                                {{/each}}
                                                </select>
                                            </span>
                                        </p>                                 
                                    </div>
                                </div>
                            </div>

                            {{!-- <p>
                                              Mykid2
                                              <input class="register-kid" placeholder="Nickname2" name="nickname2" id="nickname2">
                                              is a
                                            <span class="form-group">
                                                <select id="gender2" class="register-Gender">
                                                    <option>Boy</option>
                                                    <option>Girl</option>
                                                </select>
                                            </span>
                                              who is interested in 
                                              <input class="register-kid" placeholder="Interest" name="interest2" id="interest2">
                                              </p>
                                            <p>
                                              Mykid3
                                              <input class="register-kid" placeholder="Nickname3" name="nickname3" id="nickname3">
                                              is a
                                            <span class="form-group">
                                                <select id="gender3" class="register-Gender">
                                                    <option>Boy</option>
                                                    <option>Girl</option>
                                                </select>
                                            </span>
                                              who is interested in
                                              <input class="register-kid" placeholder="Interest" name="interest3" id="interest3">
                                            </p>  --}}

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="submit1" id="P-Redo-User">Back</button>
                            <button type="button" class="submit1" id="P-Kids">Continue</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="Parent4" data-keyboard="false" data-backdrop="static" tabindex="-1"
                role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close P-clear" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Confirm Account Info</h4>
                        </div>
                        <div class="modal-body" style="max-height: calc(100vh - 200px); overflow-y: auto;">
                            <div class="tab">
                                <p class="comfirm-account"><b>Parent Account</b></p>
                                <form class="form-horizontal pf">
                                    <div class="form-group" style="margin-left:10px">
                                        <label class="control-label" >Email Address</label>
                                        <div>
                                            <p class="form-control-static" id="Parent_Email"></p>
                                        </div>
                                    </div>
                                    
                                    <div class="form-group" style="margin-left:10px">
                                        <label class="control-label">Relationship to child</label>
                                        <div class="">
                                            <p class="form-control-static" id="Parent_Role"></p>
                                        </div>
                                    </div>
                                </form>
                                <p class="comfirm-kid-list" ><b>Children list</b></p>
                                <form class="Kids-List form-horizontal pf">
<!--                                    <div class="form-group" style="margin-left:10px">
                                            <label class="control-label" >Nickname</label>
                                            <div>
                                                <p class="form-control-static" id="K1_Nickname"></p>
                                            </div>
                                    </div>
                                    <div class="form-group" style="margin-left:10px">
                                        <label class=" control-label" >Gender</label>
                                        <div class="">
                                            <p class="form-control-static" id="K1_Gender"></p>
                                        </div>
                                    </div>
                                    <div class="form-group" style="margin-left:10px">
                                        <label class=" control-label" >Interests</label>
                                        <div class="" id="K1_interests">
                                            <p class="form-control-static" id="K1_gender"></p>
                                        </div>
                                    </div>              -->
                                </form>      
                            </div>
                            <hr class="my-2">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="Parent_TermCheck">
                                <label class="custom-control-label" for="Parent_TermCheck" id="Parent_TermCheck">I have
                                    read and agreed to the Terms & conditions.</label>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="submit1" id="P-Redo-Kids">Back</button>
                            <button type="button" class="submit1" id="P-Confirm">Confirm</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="Parent5" data-keyboard="false" data-backdrop="static" tabindex="-1"
                role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close P-clear" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Registration Complete!</h4>
                        </div>
                        <div class="modal-body" id="B-3">
                            <h1>All done!!!</h1>
                            <p></p>
                            <p>Click the button below to go to Home page</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="submit1" id="P-Register-complete"><a href="/home" id="toHome"
                                    style="color: antiquewhite;">Home Page</a></button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Business Modal: Method #2 -->
            <form id="B-Register" action="/register" method="POST">
                <div class="modal fade" id="Business1" data-keyboard="false" data-backdrop="static" tabindex="-1"
                    role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" style="overflow-y: initial !important">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close B-clear" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">Create Account</h4>
                            </div>
                            <div class="modal-body" id="B-1" style="max-height: calc(100vh - 200px); overflow-y: auto;">
                                <div class="tab">
                                    <p><input class="register" id="bus_Fname" placeholder="First Name" name="fname"></p>
                                    <p><input class="register" id="bus_Lname" placeholder="Last name" name="lname"></p>
                                    <p><input class="register" id="bus_Orgname" placeholder="Organization name"
                                            name="org_name"></p>
                                    <p><input class="register" id="bus_Address" placeholder="Address" name="address">
                                    </p>
                                    <p><input class="register" id="bus_Phone" placeholder="Phone number" name="phone">
                                    </p>
                                    <p><input class="register" id="bus_Email" placeholder="Email address" name="email">
                                    </p>
                                    <p><input class="register" id="bus_Website" placeholder="Organization website"
                                            name="website"></p>
                                    <p><input class="register" id="bus_PW" placeholder="Password" name="pw"></p>
                                    <p><input class="register" id="bus_PWconfirm" placeholder="Confirm Password"
                                            name="confirm_pw"></p>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="submit1" id="B-Register-info">Continue</button>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Modal Page 2 -->
                <div class="modal fade" id="Business2" data-keyboard="false" data-backdrop="static" tabindex="-1"
                    role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" style="overflow-y: initial !important">
                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close B-clear" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">Confirm Account Info</h4>
                            </div>
                            <div class="modal-body" id="B-2" style="max-height: calc(100vh - 200px); overflow-y: auto;">
                                <form class="form-horizontal pf">
                                    <div class="form-group" style="margin-left:10px">
                                        <label class="control-label">First Name</label>
                                        <div>
                                            <p class="form-control-static" id="Vendor_Fname"></p>
                                        </div>
                                    </div>
                                    <div class="form-group" style="margin-left:10px">
                                        <label class=" control-label">Last Name</label>
                                        <div class="">
                                            <p class="form-control-static" id="Vendor_Lname"></p>
                                        </div>
                                    </div>
                                    <div class="form-group" style="margin-left:10px">
                                        <label class="control-label">Organization</label>
                                        <div class="">
                                            <p class="form-control-static" id="Vendor_Org"></p>
                                        </div>
                                    </div>
                                    <div class="form-group" style="margin-left:10px">
                                        <label class="control-label">Address</label>
                                        <div class="">
                                            <p class="form-control-static" id="Vendor_Address"></p>
                                        </div>
                                    </div>
                                    <div class="form-group" style="margin-left:10px">
                                        <label class="control-label">Phone Number</label>
                                        <div class="">
                                            <p class="form-control-static" id="Vendor_Phone"></p>
                                        </div>
                                    </div>
                                    <div class="form-group" style="margin-left:10px">
                                        <label class="control-label">Email Address</label>
                                        <div class="">
                                            <p class="form-control-static" id="Vendor_Email"></p>
                                        </div>
                                    </div>
                                    <div class="form-group" style="margin-left:10px">
                                        <label class="control-label">Organization Website</label>
                                        <div class="">
                                            <p class="form-control-static" id="Vendor_Website"></p>
                                        </div>
                                    </div>
                                </form>
                                <hr class="my-2">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="notificationPreference" name="notificationPreference" value="Yes">
                                    <label class="custom-control-label" for="notificationPreference">I want to be notified when my account is approved!</label>
                                    <br>
                                    <input type="checkbox" class="custom-control-input" id="bus_TermCheck">
                                    <label class="custom-control-label" for="bus_TermCheck">I have read and agreed to
                                        the Terms & conditions.</label>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <div>
                                    <button type="button" class="submit1" id="B-Redo-info">Back</button>
                                    <button type="button" class="submit1" id="B-Confirm-info">Register</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>

            <div class="modal fade" id="Business3" data-keyboard="false" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                          <div class="modal-dialog">
                              <div class="modal-content">
                                  <div class="modal-header">
                                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                                      <h4 class="modal-title">Registration Complete!</h4>
                                  </div>
                                  <div class="modal-body" id="B-3">
                                      <h1>All done!</h1>
                                      <p></p>
                                      <p>An admin will now review your account for approval.</p>
                                      <p>Would you like to receive a notification when your account is approved?</p>
                                  </div>
                                  <div class="modal-footer">
                                      <button type="button" class="submit1" id="B-Register-complete-no" data-dismiss="modal">No</button>
                                      <button type="button" class="submit1" id="B-Register-complete-yes" data-dismiss="modal" onclick="openPushSubscription()">Yes</button>
                                  </div>
                              </div>
                          </div>
                  </div>
        </form>
    </div>

    <script src="/scripts/notifications.js"></script>
    <script src="/scripts/register.js"></script>
    <script>
        function show_kid1(){
            var b = document.getElementById("S_kid1")
            var element = document.getElementById("Kid1");
            element.classList.toggle("show");
            if (b.innerHTML == "Add kid profile"){
                b.innerHTML = "Remove profile"
            }else{
                b.innerHTML = "Add kid profile"
            }
        }
        function show_kid2(){
            var b = document.getElementById("S_kid2")
            var element = document.getElementById("Kid2");
            element.classList.toggle("show");
            if (b.innerHTML == "Add kid profile"){
                b.innerHTML = "Remove profile"
            }else{
                b.innerHTML = "Add kid profile"
            }
        }
        function show_kid3(){
            var b = document.getElementById("S_kid3")
            var element = document.getElementById("Kid3");
            element.classList.toggle("show");
            if (b.innerHTML == "Add kid profile"){
                b.innerHTML = "Remove profile"
            }else{
                b.innerHTML = "Add kid profile"
            }
        }
    </script>

</body>

</html>