<!DOCTYPE html>
<html>
    <head>
         <!-- Bootstrap CSS -->
                {{> bootstrap}}
        <script src="/scripts/notifications.js"></script>
        
        <link href="/css/menu.css" type="text/css" rel="stylesheet" />

    </head>

    <body>
        {{!-- <script>
            main()
        </script> --}}
        {{#ifCond user_type "vendor"}}
            {{> menu_vendor}}
        {{else}}
            {{#ifCond user_type "admin"}}
                {{> menu_admin}}
            {{else}}
                {{#ifCond user_type "parent"}}
                    {{> menu_parent}}
                {{/ifCond}}
            {{/ifCond}}
        {{/ifCond}}
        <div>
            <h1>Notification Test</h1>
            <input id="txt" type="text" placeholder="Type notification text here">
            <button id="send-btn" onclick="send()">Send Message</button>
        </div>
        <div>
            <button id="permission-btn" onclick="main()">Ask</button>
        </div>
    </body>

</html>