<!DOCTYPE html>
<html>
    <head>
         <!-- Bootstrap CSS -->
                {{> bootstrap}}
        <script src="/scripts/notifications.js"></script>
        
        <link href="/css/menu.css" type="text/css" rel="stylesheet" />

    </head>

    <body>
        <script>
            main()
        </script>
        {{> menu}}
        <div>
            <h1>Notification Test</h1>
            <input id="txt" type="text" placeholder="Type notification text here">
            <button id="permission-btn" onclick="send()">Send Message</button>
        </div>
    </body>

</html>