<!DOCTYPE html>
<html>
    <head>
        <!-- Bootstrap CSS -->
        <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>


        <link href="/css/menu.css" type="text/css" rel="stylesheet" />
        <link href="/css/login.css" type="text/css" rel="stylesheet" />
        <link href="/css/register.css" type="text/css" rel="stylesheet" />
    </head>

    <body>
        <div id="bg">
            {{> menu}}
        </div>

        <!--<img src="/css/src/thingsmyKidsdo.jpg" style="max-width: 500px; max-height: 500px">-->

        <div class="i-logo">
            <div></div>
            <div></div>
            <img src="/css/src/thingsmyKidsdo.jpg" style="max-width: 500px; max-height: 500px">
            <div></div>
            <div></div>
        </div>


        <!--        <div class="container position=relative width="> -->
        <div class="center">
            Register Page

            <div class="container">
                <h1 style="text-align-all: center">Need activities for kids?</h1>
                <form>
                    <div class="container" style="max-width: 600px">
                        <button type="button" class="btn btn-primary btn-lg btn-block" data-toggle="modal" data-target="#Parent">Get Notified</button>
                        <button type="button" class="btn btn-default btn-block" data-toggle="modal" data-target="#Business">Share YOUR event</button>
                    </div>

                    <div class="modal fade" id="Parent" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">

                            <!-- Modal content-->
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="modal-title">Create Account</h4>
                                </div>
                                <div class="modal-body">
                                    <div class="tab">
                                        <p><input class="register" placeholder="Username/Email address" name="fname"></p>
                                        <p><input class="register" placeholder="Phone number" oninput="this.className = ''" name="phone"></p>
                                        <p><input class="register" placeholder="Password" oninput="this.className = ''" name="pw"></p>
                                        <p><input class="register" placeholder="Comfirm Password" oninput="this.className = ''" name="confirm_pw"></p>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="submit" data-dismiss="modal">Continue</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="modal fade" id="Business" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <!-- Modal content-->
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="modal-title">Create Account</h4>
                                </div>
                                <div class="modal-body" id="B-1">
                                    <div class="tab">
                                        <p><input class="register" placeholder="First Name" oninput="this.className = ''" name="fname"></p>
                                        <p><input class="register" placeholder="Last name" oninput="this.className = ''" name="lname"></p>
                                        <p><input class="register" placeholder="Organization name" oninput="this.className = ''" name="org_name"></p>
                                        <p><input class="register" placeholder="Phone number" oninput="this.className = ''" name="phone"></p>
                                        <p><input class="register" placeholder="Email address" oninput="this.className = ''" name="email"></p>
                                        <p><input class="register" placeholder="Password" oninput="this.className = ''" name="pw"></p>
                                        <p><input class="register" placeholder="Comfirm Password" oninput="this.className = ''" name="confirm_pw"></p>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="submit" data-dismiss="modal"><a href="#Business-2">Continue</a></button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Modal Page 2 -->
                    <div class="modal fade" id="Business-2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <!-- Modal content-->
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="modal-title">Create Account</h4>
                                </div>
                                <div class="modal-body" id="B-2">
                                    <form class="form-horizontal pf">
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">First Name</label>
                                            <div class="col-sm-10">
                                                <p class="form-control-static">Alexander</p>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">Last Name</label>
                                            <div class="col-sm-10">
                                                <p class="form-control-static">Fong</p>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">Organization</label>
                                            <div class="col-sm-10">
                                                <p class="form-control-static">BC Soccer Community</p>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">Phone Number</label>
                                            <div class="col-sm-10">
                                                <p class="form-control-static">###-###-####</p>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">Email Address</label>
                                            <div class="col-sm-10">
                                                <p class="form-control-static">AlexFong@bcsoccer.ca</p>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="submit" data-dismiss="modal"><a href="#B-1">Back</a></button>
                                    <button type="button" class="submit" data-dismiss="modal">Register</button>
                                </div>
                            </div>
                        </div>
                    </div>

                </form>



            </div>

        </div>




    </body>


</html>